In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
utah_df= pd.read_csv("utah-census-1880.csv", encoding = 'utf-8')

In [3]:
utah_df.sample(12)

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birthstate,fbirthplace,mbirthplace
80287,0306D_36_ROBINSON_29,0306D,36,15105,West Jordan Precinct,SALT LAKE,130,130,ROBINSON,GEORGE,NaN,1,m,29.000,0,NaN,m,n,FARM LABORER,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
35762,0413B_24_HATFIELD_7,0413B,24,6656,"""Eureka, Tintic Precinct""",JUAB,22,22,HATFIELD,J,W,1,m,7.000,0,son,NaN,n,NaN,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ENGLAND,UTAH
103084,0417B_33_FUGATE_25,0417B,33,16640,"""Manti City, Manti Precinct""",SANPETE,193,204,FUGATE,HARRISON,NaN,1,m,25.000,0,NaN,m,n,LABORER,3.0,NaN,n,n,n,n,n,n,n,n,UTAH,OHIO,KENTUCKY
114924,0191D_42_WILLIAMS_16,0191D,42,21248,Spanish Fork City and Precinct,UTAH,217,217,WILLIAMS,DAVID,NaN,1,m,16.000,0,son,s,n,AT HOME,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,WALES,WALES
110879,0148C_19_ALEXANDER_5,0148C,19,20736,Provo City and Precinct,UTAH,509,563,ALEXANDER,MAUD,NaN,1,f,5.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,VIRGINIA,OHIO
89328,0066D_39_CROFT_9,0066D,39,19200,"""New Survey, Tooele Precinct""",TOOELE,5,5,CROFT,CHARLOTTE,NaN,1,f,9.000,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,y,n,n,UTAH,ENGLAND,ENGLAND
39939,0464B_28_HINCKLEY_0.417,0464B,28,7680,Fillmore City and Precinct,MILLARD,115,131,HINCKLEY,SARAH,NaN,1,f,0.417,12,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,CANADA,MICHIGAN
4850,0169B_20_MIKSEL_11,0169B,20,2560,Paradise,CACHE,37,40,MIKSEL,ANNE,NaN,1,f,11.000,0,daughter,s,n,NaN,0.0,NaN,n,n,n,n,n,n,y,y,UTAH,INDIANA,ENGLAND
7773,0199A_23_HUGHES_53,0199A,23,2816,Menden,CACHE,330,259,HUGHES,HENRY,NaN,1,m,53.000,0,NaN,m,n,FARMER,13.0,NaN,n,n,n,n,n,n,y,y,WALES,WALES,WALES
32145,0371D_10_LEIGH_33,0371D,10,5632,Cedar City Precinct,IRON,67,67,LEIGH,JOHN,NaN,1,m,33.000,0,NaN,m,n,FARMER,5.0,NaN,n,n,n,n,n,n,n,n,WALES,WALES,WALES
26550,0101D_6_MCCRAERY_15,0101D,6,1537,Portage Precinct,BOX ELDER,414,416,MCCRAERY,DELBERT,NaN,1,m,15.000,0,son,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,INDIANA,PENNSYLVANIA
88807,0060D_18_BATES_21,0060D,18,19201,"""Tooele City, Tooele Precinct""",TOOELE,95,102,BATES,CHARLOTTE,NaN,1,f,21.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND

observations abt the data

apply the concepts about households, this isnt an individual but a household census. So the numbers in household probably mean they assigned the household an id or tabulated how many households were in utah at the time. 

-since this is a territory, it's also a slightly different census

In [5]:
utah_df=utah_df.rename(columns={'birthstate':'birth_place'})

In [6]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birth_place,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,m,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,m,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,m,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,NaN,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,w,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,s,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,s,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH

applying a function to change the shortened letters in marrystatus to full letters

In [8]:
def replacus_msw(some_string):
    if some_string== 'm':
        return "married"
    elif some_string=='s':
        return "single"
    else:
        return 'widowed'

In [16]:
utah_df['marrystatus'] = utah_df['marrystatus'].apply(replacus_msw)

In [20]:
utah_df

,key,page,line,district,location,county,household,family,lastname,firstname,middlename,race,sex,age,birthmonth,relationship,marrystatus,justmarry,occupation,unemploymth,illness,blind,deaf,idiotic,insane,maimed,attendschool,notread,notwrite,birth_place,fbirthplace,mbirthplace
0,0212A_2_NEWBOLD_29,0212A,2,3072,Smithfield,CACHE,9157,158,NEWBOLD,SAMUEL,NaN,1,m,29.000,0,son,married,n,WORKS AT FARMING,13.0,NaN,n,n,n,n,n,n,n,n,ENGLAND,ENGLAND,ENGLAND
1,0163A_45_CHRISTIANSEN_37,0163A,45,2560,Hyrum,CACHE,150,151,CHRISTIANSEN,MARIAH,NaN,1,f,37.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,n,DENMARK,DENMARK,DENMARK
2,0120A_1_JENSEN_71,0120A,1,2048,Logan City,CACHE,1,1,JENSEN,OLEY,NaN,1,m,71.000,0,NaN,married,n,LABORER,13.0,NaN,n,n,n,n,n,n,n,n,SWEDEN,SWEDEN,SWEDEN
3,0120A_2_JENSEN_69,0120A,2,2048,Logan City,CACHE,1,1,JENSEN,INGER,NaN,1,f,69.000,0,wife,married,n,KEEPING HOUSE,0.0,NaN,n,n,n,n,n,n,n,y,SWEDEN,SWEDEN,SWEDEN
4,0120A_3_ENGBER_6,0120A,3,2048,Logan City,CACHE,1,1,ENGBER,JOSEPH,NaN,1,m,6.000,0,grandson,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,SWEDEN,SWEDEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142706,0543B_37__30,0543B,37,26624,Uintah Precinct,WEBER,42,45,NaN,JIM,NaN,2,m,30.000,0,NaN,widowed,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142707,0543B_38__25,0543B,38,26624,Uintah Precinct,WEBER,42,45,NaN,SING,NaN,2,m,25.000,0,NaN,widowed,n,LABORER,0.0,NaN,n,n,n,n,n,n,n,n,CHINA,CHINA,CHINA
142708,154A_50_HARRINGTON_77,154A,50,20992,Springville City and Precinct,UTAH,9,10,HARRINGTON,JULIA,NaN,1,f,77.000,0,NaN,widowed,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,PENNSYLVANIA,PENNSLYVANIA,PENNSLYVANIA
142709,0064A_22_WIGHT_21,0064A,22,1024,"""Brigham City, Box Elder Precinct""",BOX ELDER,303,311,WIGHT,SARAH,E,1,f,21.000,0,daughter,single,n,AT HOME,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,NEW YORK,ILLINOIS
142710,3B_24_LEES_0.417,3B,24,10241,Salt Lake City 10th Ward,SALT LAKE,53,59,LEES,PAUL,NaN,1,m,0.417,1,son,single,n,NaN,0.0,NaN,n,n,n,n,n,n,n,n,UTAH,MISSISSIPPI,UTAH